<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {{ encore_entry_link_tags('main') }}
    <title></title>
</head>
<body>
    <!-- SENTRY ERROR LOGGING -->
    <script
  src="https://browser.sentry-cdn.com/5.22.3/bundle.min.js"
  integrity="sha384-A1qzcXXJWl+bzYr+r8AdFzSaLbdcbYRFmG37MEDKr4EYjtraUyoZ6UiMw31jHcV9"
  crossorigin="anonymous"
    ></script>
    <script>
    Sentry.init({ dsn: "https://a533849a7ef34ecf87a2a889aeea3bbe@sentry.odex.be/3" });
    </script>
<app id="app"></app>
{{ encore_entry_script_tags('main') }}
</body>
</html>
